<!DOCTYPE html>
<html>
<head>
  <title>Kds category service</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "kds_category_service/application", media: "all" %>
  <%= javascript_include_tag "kds_category_service/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
